In [28]:
import pandas as pd
import numpy as np

In [133]:
df = pd.read_excel('W:\\01. КОМПАНИИ_НОВЫЙ\\ВСК. СТРАХОВОЙ ДОМ\\01.РАЗРАБОТКА\\ЦБ_Страхование_Обработка выгрузки_0.5.0\\02.СВОДНЫЕ\F10\\2019Q1_F10_SUM.xlsx')
df.head()

,Сведения о страховых премиях по субъектам Российской Федерации в разрезе страховщиков,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48
0,Дата составления отчета: 23.05.2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Отчетный период: январь-март 2019 г.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,тыс. руб.
3,NaN,NaN,Добровольное и обязательное страхование (кроме...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,I. Добровольное страхование,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,II. Обязательное страхование,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
# df.columns = ['company_num', 'company_name', '100', '110']
# df.rename(columns=None, axis=None, copy=True, inplace=False, level=None)
df.rename(columns={'Сведения о страховых премиях по субъектам Российской Федерации в разрезе страховщиков': 'company_id', \
                   'Unnamed: 1': 'company_name', 'Unnamed: 2': '100','Unnamed: 3': '110'}, inplace=True)

In [135]:
df.drop(df.columns.difference(['company_id','company_name','100','110']), 1, inplace=True)
# df.head(10)

In [138]:
df2 = df[df['company_name'].notnull() & df['company_id'].notnull()]
# df2.head(10)

In [145]:
df3 = df2.drop(df2.index[[0,1,1]])
df3.head()

   company_id                        company_name      100     110
28       4192                ОВС "Народные кассы"  77.4062       0
29       4179           ООО "СК" Райффайзен Лайф"   58.994  56.518
30       0191         АО  "Тинькофф  Страхование"  4400.03       0
31       2239               АО "АльфаСтрахование"   103964       0
32       3064  АО "Боровицкое страховое общество"  494.761       0

In [146]:
df3.to_excel('resault.xlsx')